{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block main %}
<h1>Научно-технический центр компьютерных технологий «Тор»</h1>
<section id="about">
    <h2>О компании</h2>
    <p>«Научно-технический центр компьютерных технологий «Тор» имеет большой опыт разработки и создания учебно-тренажного оборудования для подготовки боевых экипажей (расчетов) и подразделений Сухопутных войск.</p>
    <p>В период с 1999 г. по 2006 г. в кооперации с предприятиями УРУПО ГРАУ были разработаны структура и программное обеспечение для взводных тренажёров танков Т-72, Т-80, Т-80У, Т-90, боевых машин пехоты БМП1, БМП2, боевой машины десанта БМД3, бронетранспортёра БТР-80, а также единственный в своём роде ротный тактический тренажёр для подразделений ВДВ в РВДКУ. Все перечисленные тренажёры прошли войсковые испытания и были приняты на снабжение в Сухопутных войсках МО РФ.</p>
    <div class="images">
        <div class="image">
            <img src="{% static 'img/maks09/01.png'  %}" alt="МАКС 2009"/>
        </div>
        <div class="image">
            <img src="{% static 'img/maks09/02.png'  %}" alt="МАКС 2009"/>
        </div>
    </div>
    <p>В период с 2006 г. по 2010 г. в НТЦ КТ «Тор» были разработаны, изготовлены и поставлены по заказу представителей концерна «Алмаз-Антей» тренажёры для ЗРС С-300В, ЗПРК «Тунгуска», модернизированного ЗРК «Квадрат», ЗРК «БУК М2Э» и ЗРК «Стрела-10». В настоящее время по заказу Ижевского ЭМЗ «Купол» создан и принят на снабжение тренажёр ЗРС «Тор М2Э». Разработаны и поставляются имитаторы стрельбы орудий для малого артиллерийского полигона.</p>
    <div class="images">
        <div class="image">
            <img src="{% static 'img/mvsv10/01.png'  %}" alt="МВСВ 2010"/>
        </div>
        <div class="image">
            <img src="{% static 'img/mvsv10/02.png'  %}" alt="МВСВ 2010"/>
        </div>
    </div>
    <p>Тренажёры ЗРК выставлялись на «МАКС 2009», «МАКС 2011» и «МВСВ 2010», где получили высокую оценку, как у иностранных, так и у отечественных специалистов. Специалистами НТЦ КТ «Тор» был выполнен ремонт тренажёров, изготовленных ООО «ЛОГОС» и признанных изготовителем неремонтопригодными.</p>
    <div class="images">
        <div class="image">
            <img src="{% static 'img/maks11/01.png'  %}" alt="МАКС 2011"/>
        </div>
        <div class="image">
            <img src="{% static 'img/maks11/02.png'  %}" alt="МАКС 2011"/>
        </div>
        <div class="image">
            <img src="{% static 'img/maks11/03.jpg'  %}" alt="МАКС 2011"/>
        </div>
    </div>
    <p>Потенциалом НТЦ КТ «Тор» являются коллектив бывших военнослужащих, в том числе из преподавательского состава, постоянно поддерживаемая связь с войсками, академиями и другими военными учебными заведениями. НТЦ КТ «Тор» получил сертификат качества на продукцию военного и двойного назначения.</p>
    <div class="images">
        <div class="image">
            <img src="{% static 'img/srt/srt.png'  %}" alt="Сертификат"/>
        </div>
        <div class="image">
            <img src="{% static 'img/maks09/srt.png'  %}" alt="МАКС 2009"/>
        </div>
        <div class="image">
            <img src="{% static 'img/mvsv10/srt.png'  %}" alt="МВСВ 2010"/>
        </div>
        <div class="image">
            <img src="{% static 'img/maks11/srt.png'  %}" alt="МАКС 2011"/>
        </div>
    </div>
    <p>Сертификат соответствия качества на разработку производство и ремонт продукции ВВТ военного и двойного назначения в соответствии с кодами ЕКПС: 7015, гр. 69. Соответствует требованиям ГОСТ РВ 15.002-2003, и ГОСТ Р ИСО 9001-2011 г.</p>
</section>
<section id="projects">
    <h2>Проекты</h2>
</section>
<section id="partners">
    <h2>Сотрудничество</h2>
</section>
{% endblock %}
