$font-color:#444;
$border-color:#ddd;


$transition:all .3s ease-in-out 0s;
$img-border:.1rem solid $border-color;
$border-radius:.2rem;

/* Rules for small devices (mobile vertical) */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

html{
    font-family: 'Source Sans Pro', sans-serif;
    color:$font-color;
}

body{
    background-color:#eee;
    display:flex;
    flex-direction:column;
    min-height:100vh;

    > header{
        display:block;
        min-height:3rem;
        background-color:#fff;
    }

    > main {
        flex-grow:1;
        padding: 1rem 0;
        > div{
            display:block;
            background-color:red;
            height:100%;
        }
    }

    > footer{
        display:block;
        background-color:#444;
        color: #eee; /* font color */
        min-height: 10rem;
    }
}

nav{ 
    > ul{
        list-style:none;
        display:none;
        flex-direction:column;
        justify-content:space-around;
        > li {
            padding:1rem;
            > a {
                transition: $transition;
                text-decoration:none;
                color:#888;
            }

            > a:hover{
                color:#444;
            }
        }
    }
}

.container{
    width:100%;
    margin:0 auto;
}

section{
    margin-bottom:1rem;
    padding:0 1rem;
}

h1{
    text-align:center;
    margin-bottom:2rem;
}
h2{
    margin-bottom:1rem;
}

p{
    margin-bottom:.5rem;
}

.partners{
    display:flex;
    flex-direction:column;
    > a {
        display:flex;
        flex-direction:column;
        color:$font-color;
        padding:1rem;
        background-color:white;
        border-bottom:$img-border;
        text-decoration:none;
        transition:$transition;
        
        > .name{
            font-size:1.1rem;
        }

        > .city{
            color:lighter($font-color);
        }

        > .city:before{
            content:"г. ";
        }

        > .antey:after{
            content:" (концерн Амаз-Антей)";
            color:#376EB5;
            white-space:nowrap;
        }
    }

    > a:hover,
    > a:focus{
        background-color:$border-color;
    }

    > a:first-child{
        border-radius:$border-radius $border-radius 0 0;
    }

    > a:last-child{
        border-radius:0 0 $border-radius $border-radius;
        border:none;
    }
}

#mobile-menu-button{
    display:block;
    padding:1rem;
    background:none;
    border:none;
    color:#888;
    cursor:pointer;
}

#mobile-menu-button:hover{
    color:#444;
}

#about{
    > .images{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items:center;
        margin:2rem 0 1rem 0;

        > .image{
            display:block;
            padding:$border-radius;
            border:$img-border;
            background-color:white;
            border-radius:$border-radius;
            margin-bottom:1rem;
            > img{
                display:block;
            }
        }
    }
}

ul.active{
    display:flex;
}

/* Rules for mobile horisontal and tablet vertical */
@media (min-width:560px) and (max-width:767px) {
    main > div{background-color:orange;}
}

/* Rules commot to screens bigger than tablet screens */
@media (min-width:768px) {
    nav > ul{display:flex; flex-direction:row;}
    #mobile-menu-button{display:none;}
}

/* Rules for tablet horisontal and small ultrabook screens */
@media (min-width:768px) and (max-width:919px) {
    main > div{background-color:yellow;}
}

/* Rules for middle screens */
@media (min-width:920px) and (max-width:1199px) {
    main > div{background-color:green;}
    .container{width:920px;}
    section{padding:0;}
}

/* Rules for large screens */
@media (min-width:1200px) {
    main > div{background-color:skyblue;}
    .container{width:920px;}
    section{padding:0;}
}
