$font-color:#444;

$transition:all .3s ease-in-out 0s;

/* Rules for small devices (mobile vertical) */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

html{
    font-family: 'Source Sans Pro', sans-serif;
    color:$font-color;
}

body{
    background-color:#eee;
    display:flex;
    flex-direction:column;
    min-height:100vh;

    > header{
        display:block;
        min-height:3rem;
        background-color:#fff;
    }

    > main {
        flex-grow:1;
        padding: 1rem 0;
        > div{
            display:block;
            background-color:red;
            height:100%;
        }
    }

    > footer{
        display:block;
        background-color:#444;
        color: #fff; /* font color */
        min-height: 10rem;
    }
}

nav{ 
    > ul{
        list-style:none;
        display:none;
        flex-direction:column;
        justify-content:space-around;
        > li {
            padding:1rem;
            > a {
                transition: $transition;
                text-decoration:none;
                color:#888;
            }

            > a:hover{
                color:#444;
            }
        }
    }
}

.container{
    width:100%;
    margin:0 auto;
}

section{
    margin-bottom:1rem;
    padding:0 1rem;
}

h1{
    text-align:center;
    margin-bottom:2rem;
}
h2{
    margin-bottom:1rem;
}

p{
    margin-bottom:.5rem;
}

#mobile-menu-button{
    display:block;
    padding:1rem;
    background:none;
    border:none;
    color:#888;
    cursor:pointer;
}

#mobile-menu-button:hover{
    color:#444;
}

#about{
    > .images{
        display:flex;
        justify-content:space-around;
        align-items:center;
        margin-bottom:1rem;

        > .image{
            display:block;
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
            height:10rem;
            width:15rem;
        }
    }
}

ul.active{
    display:flex;
}

/* Rules for mobile horisontal and tablet vertical */
@media (min-width:560px) and (max-width:767px) {
    main > div{background-color:orange;}
}

/* Rules commot to screens bigger than tablet screens */
@media (min-width:768px) {
    nav > ul{display:flex; flex-direction:row;}
    #mobile-menu-button{display:none;}
}

/* Rules for tablet horisontal and small ultrabook screens */
@media (min-width:768px) and (max-width:919px) {
    main > div{background-color:yellow;}
}

/* Rules for middle screens */
@media (min-width:920px) and (max-width:1199px) {
    main > div{background-color:green;}
    .container{width:920px;}
    section{padding:0;}
}

/* Rules for large screens */
@media (min-width:1200px) {
    main > div{background-color:skyblue;}
    .container{width:920px;}
    section{padding:0;}
}
